<h1> Deal a Poker </h1>

<img src= "http://golearntocode.com/images/cards/<%= number1 %>_of_<%= @suite1 %>.png" width=100>
<img src= "http://golearntocode.com/images/cards/<%= number2 %>_of_<%= @suite2 %>.png" width=100>
<img src= "http://golearntocode.com/images/cards/<%= number3 %>_of_<%= @suite3 %>.png" width=100>
<img src= "http://golearntocode.com/images/cards/<%= number4 %>_of_<%= @suite4 %>.png" width=100>
<img src= "http://golearntocode.com/images/cards/<%= number5 %>_of_<%= @suite5 %>.png" width=100>