<h1><%= @users.user_name %></h1>

<p>Personal Identification Number: <%= @users.member_id %></p>
<p>Email: <%= @users.email %></p>
<p>Password: <%= @users.password %></p>
<p>homeaddress: <%= @users.homeaddress %></p>
<p>telephone: <%= @users.telephone %></p>
<p>Birthday: <%= @users.birthday %></p>
<p>Age: <%= @users.age %></p>
<p>Gender: <%= @users.gender %></p>



